@font-face {
    font-family: 'ufonts_com_brown';
    src: url('fonts/ufonts_com_brown.eot');
    src: url('fonts/ufonts_com_brown.eot') format('embedded-opentype'),
         url('fonts/ufonts_com_brown.woff2') format('woff2'),
         url('fonts/ufonts_com_brown.woff') format('woff'),
         url('fonts/ufonts_com_brown.ttf') format('truetype'),
         url('fonts/ufonts_com_brown.svg#ufonts_com_brown') format('svg');
}

body, .ionic-body {
  font-family: "ufonts_com_brown", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "ufonts_com_brown", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.tab-item {
  font-family: "ufonts_com_brown", "Helvetica Neue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

input, button, select, textarea {
  font-family: "ufonts_com_brown", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.roboto {
  font-family: "ufonts_com_brown", "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.roboto input {
  font-family: "ufonts_com_brown", "Roboto", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
