<ion-item href="#/app/event/{{event._id}}">
  <div url-background class="item-background" url-bg="event.photos">
    <wish-list event="event"></wish-list>
    <div class="block"></div>
    <div class="back">
      <div class="name_event">{{ event.name }}</div>
      <div class="position_event"><i class="ion ion-ios-people"></i> {{ event.organiser ? event.organiser : event.owner.organiser.company }}</div>
      <div class="hour_event">{{ event.dateStart | date:'d MMM, HH:mm' }} - {{ event.dateEnd | date:'HH:mm'}}<span ng-show="event.type[1]">,</span> {{ event.type[1] }}</div>
      <div class="price_event" ng-if="event.price_m != 0">{{ event.price_m }} €</div>
      <div class="price_event" ng-if="event.price_m == 0 || event.price_m == 'undefined'">Free</div>
    </div>
  </div>
  <div class="people"><i style="color: #ff5a5f" class="ion ion-fireball"></i> <span style="margin-left: 5px;color:#1d1742;">{{ event.peopleNumber + event.participants.length }}+ people are going</span></div>
</ion-item>
