<ion-view title="Nightlife" class="party">
  <ion-content ng-class="{ 'has-header' : userScope.ios }" has-bouncing="true">
    <ion-list>
      <ion-item href="#/app/nights">
        <url-background-centrale class="item-background" urlBackground="tonight.jpg">
          <div class="text-center">
            <div class="text-center round"></div>
            <i class="icon-uxpin-icon-set-gift-regular"></i>
            <h2>Go Tonight</h2>
            <hr>
         </div>
        </url-background-centrale>
      </ion-item>
      <ion-item href="#/app/tomorrow">
        <url-background-centrale class="item-background" urlBackground="tomorrow.jpg">
          <div class="text-center">
            <i class="icon-uxpin-icon-set-cloud-regular"></i>
            <h2>Go Tomorrow</h2>
            <hr>
          </div>
        </url-background-centrale>
      </ion-item>
      <ion-item href="#/app/weekend">
        <url-background-centrale class="item-background" urlBackground="ceweekend.jpg">
          <div class="text-center">
            <i class="fa fa-play"></i>
            <h2>This Week-end</h2>
            <hr>
          </div>
          </url-background-centrale>
      </ion-item>
      <!--<ion-item href="#/app/afterwork">
        <url-background-centrale  class="item-background" urlBackground="afterwork.jpg">
          <div class="text-center">
            <div class="text-center round"></div>
            <i class="icon-uxpin-icon-set-star-regular"></i>
            <h2>Afterworks</h2>
            <hr>
          </div>
        </url-background-centrale>
      </ion-item>
      <ion-item href="#/app/karaoke">
        <url-background-centrale class="item-background" urlBackground="karaoke.jpg">
          <div class="text-center">
            <div class="text-center round"></div>
            <i class="fa fa-music"></i>
            <h2>Student parties</h2>
            <hr>
          </div>
        </url-background-centrale>
      </ion-item>
      <ion-item href="#/app/clubbing">
        <url-background-centrale class="item-background" urlBackground="clubbing.jpg">
          <div class="text-center">
            <i class="fa fa-fire"></i>
            <h2>Clubbing</h2>
            <hr>
          </div>
        </url-background-centrale>
      </ion-item>

      <ion-item href="#/app/pubcrawl">
        <url-background-centrale class="item-background" urlBackground="pubcrawls.jpg">
          <div class="text-center">
            <div class="text-center round"></div>
            <i class="fa fa-beer"></i>
            <h2>Pubcrawl</h2>
            <hr>
          </div>
        </url-background-centrale>
      </ion-item>
      <ion-item href="#/app/houseparty">
        <url-background-centrale class="item-background" urlBackground="houseparties.jpg">
          <div class="text-center">
            <div class="text-center round"></div>
            <i class="fa fa-home"></i>
            <h2>House parties</h2>
            <hr>
          </div>
        </url-background-centrale>
      </ion-item>
      <ion-item href="#/app/concert">
        <url-background-centrale class="item-background" urlBackground="concerts.jpg">
          <div class="text-center">
            <i class="fa fa-microphone"></i>
            <h2>Concerts</h2>
            <hr>
          </div>
        </url-background-centrale>
      </ion-item>
      <ion-item href="#/app/after">
        <url-background-centrale class="item-background" urlBackground="afters.jpg">
          <div class="text-center">
            <i class="fa fa-moon-o"></i>
            <h2>Afters</h2>
            <hr>
          </div>
        </url-background-centrale>
      </ion-item>-->
      <ion-item href="#/app/favoris">
        <url-background-centrale class="item-background" urlBackground="wishlist.jpg">
          <div class="text-center">
            <i class="icon-uxpin-icon-set-heart-regular"></i>
            <hr class="style14">
            <h2>Coups de coeur</h2>
          </div>
        </url-background-centrale>
      </ion-item>
    </ion-list>
  </ion-content>
  <!--<div class="owl" ui-sref="snap">
    <span style="font-size: 10px; color: #ff5a5f; top: 1px; left: 20px; position: absolute">new!</span>
    <img class="imgOwl" src="img/menu/owl.png"/>
  </div>-->
</ion-view>
