<ion-view view-title="Connexion" class="connexion">
    <ion-content has-bouncing="false" padding="true">
      <div class="bar bar-header bar-purple">
        <button ng-click="back()" ng-show="userScope.backButton" style="color: black; background: transparent" class="button icon ion-ios-arrow-left"></button>
        <h1 style="color:white; font-weight: 500;" class="title">Welcome back</h1>
      </div>
      <div class="padding-top">
          <form name="connexion">
            <div class="padding-input">
              <div class="padding">
            <label class="item item-input">
              <input type="text" name="user" placeholder="Email" ng-model="data.email" required>
            </label>
              </div>
              <div style="padding-top: 25px" class="padding">
            <label class="item item-input">
              <input type="password" name="password" placeholder="Password" ng-model="data.password" required>
            </label>
              </div>
            </div>
            <div class="text-center" ng-show="error">
              <div style="color: red;">{{ error }}</div>
            </div>
              <div class="text-center">
              <button class="buttonConnexion1"
                      ng-disabled="connexion.user.$error.required || connexion.password.$error.required"
                      ng-click="connect()">Login
              </button>
              <br>
            </div>
            <br>
            <div class="padding" style="padding-top: 30px">
              <p class="text-center"><a class="forget" href="#forget">Lost password ?</a></p>
        </div>
          </form>
        </div>
    </ion-content>
</ion-view>
