<ion-view view-title="{{ event.name }}" class="Event" hide-nav-bar="header" hide-back-button="header" hide-tabs-force>
  <!--<wish-list event="event"></wish-list>-->
  <img ng-show="filterhidden == true" class="ImageEvent " ng-src="http://62.210.108.100:8000/eventImage/{{event.photos[0]}}"/>
  <div ng-if="event.teaser" ng-click="playVideo()">
    <i ng-show="event.teaser" class="ion ion-ios-play playVideo1"></i>
    <i ng-show="event.teaser" style="position: absolute;" class="ion ion-ios-circle-outline playVideo"></i>
    <video ng-if="event.teaser" ng-show="false" ng-src="{{ video }}"></video>
  </div>
  <ion-content delegate-handle="homeScroll" on-scroll="getScrollPosition(this)"
               ng-class="{'has-image': filterhidden == false}" class="content-event" has-bouncing="true">
    <!--<div class="eventName">{{ event.name }}</div>-->
    <div class="spacer text-center">
      {{ event.name }}
      <!--<user-image-circle class="circle" style="float: left;" user="event.owner"></user-image-circle>
      <div style="float: left; margin-left: 5vw; color:#1d1742; font-size: 16px">
        <i style="color:#ff5a5f;" class="ion ion-ios-people"></i> <br>{{ event.name }}
      </div>
      <div style="float: right; color: #007a87;  margin-right: 15px">
        <i class="ion ion-ios-star"></i>
        <i class="ion ion-ios-star"></i>
        <i class="ion ion-ios-star"></i>
        <i class="ion ion-ios-star-half"></i>
        <i class="ion ion-ios-star-outline"></i>
      </div>
      <br>
      <div style="float: right; color: #007a87; margin-right: 15px; font-size: 12px">
        Comments
      </div>-->
    </div>
    <div class="hub"><img class="musicIcon" src="img/menu/music.png"><div class="tag">{{ event.type[0] }}, {{ event.type[1] }}</div> <div class="price">{{ event.price_m }} €</div></div>
    <div class="description" ng-bind-html="event.description | Linky">
    </div>
    <div style="padding-right: 5px; padding-left: 5px">
      <div ng-click="call(event.phoneNumber[0])" class="mapButton">
        <div style="margin-top: 40px; font-size: 25px">
          <i class="ion ion-ios-telephone"></i> Info/Booking
        </div>
      </div>
    </div>
      <div class="timePlan">
        <div class="datePlan">{{ event.dateStart | date: 'EEEE d MMMM' }}</div>
      </div>
  </ion-content>
  <span><a class="exit ion ion-arrow-left-c" ng-click="exit()"></a></span>
  <div class="book">
    <button style="text-transform: uppercase" class="going" ng-click="openPopover($event)">More</button>
    <button ng-show="gstatus" class="booked active" ng-click="desinterest('going')">Not going</button>
    <button ng-show="!gstatus" class="booked" ng-click="interest('going')">Going</button>
  </div>
</ion-view>
