<!--
<ion-side-menus class="Menu" enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear">
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar align-title="center" class="bar-stable">
      <h1 class="title">Home</h1>
    </ion-header-bar>
    <ion-content class="profil" has-bouncing="false" scroll="true" overflow-scroll="false">
      <div class="subprofil">
        <user-image-circle ng-click="gotoProfile()" data-user="userScope.user"></user-image-circle>
        <p> {{ userScope.user.local.firstName ? userScope.user.local.firstName : userScope.user.facebook.firstName }} </p>
      </div>
      <div class="blackground"></div>
      <ion-list class="menu-item">
        <ion-item ui-sref="app.centrale" ui-sref-active="active" menu-close>
          <div style="font-weight: 500"><img class="iconMenu" ng-src="img/menu/nightlife.png"> <span class="textMenu">Nightlife</span></div>
        </ion-item>

        <ion-item class="imgMenu" ui-sref="app.profile" ui-sref-active="active" ng-if="0" menu-close>
          <div style="font-weight: 500"><img class="iconMenu" ng-src="img/menu/nightlife.png"/> <span class="textMenu">Profil </span></div>
        </ion-item>
        <ion-item class="imgMenu" ui-sref="app.preferences" ui-sref-active="active"  menu-close>
          <div style="font-weight: 500"><img class="iconMenu" ng-src="img/menu/preferences.png"/><span class="textMenu"> Discovery preferences</span></div>
        </ion-item>
        <ion-item class="imgMenu" ui-sref="app.settings" ui-sref-active="active" menu-close>
          <div style="font-weight: 500"><img class="iconMenu" ng-src="img/menu/settings.png"/> <span class="textMenu">Settings</span></div>
        </ion-item>
        <ion-item class="imgMenu" ui-sref="app.wishlist" ui-sref-active="active" menu-close>
          <div style="font-weight: 500"><img class="iconMenu" ng-src="img/menu/wishlist.png"/><span class="textMenu">Wishlist</span></div>
        </ion-item>
        <ion-item class="imgMenu" ui-sref="app.about" ui-sref-active="active" menu-close>
          <div style="font-weight: 500; vertical-align: middle"><img class="iconMenu" ng-src="img/menu/aboutus.png"/><span class="textMenu">About us</span></div>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
-->
