<ion-view view-title="Inscription" class="connexion">
  <ion-content has-bouncing="true" padding="true">
    <div class="ion-ios-close-empty" ng-click="back()"></div>
    <br>
    <br>
    <h1 class="text-center">Inscription</h1>
    <br>
    <br>
    <div class="padding-top">
      <div class="padding">
        <button class="button button-positive button-block" ng-click="connectWithFB()">Facebook</button>
      </div>
      <hr>
      <div class="padding">
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="data.email" >
        </label>
      </div>
      <div class="padding">
        <label class="item item-input">
          <input type="text" placeholder="Mot de passe" ng-model="data.password">
        </label>
      </div>
      <div class="padding">
        <a class="button button-block button-assertive" ng-click="signup()">S'INSCRIRE</a>
      </div>
    </div>
  </ion-content>
</ion-view>
