<ion-view view-title="Forget password" class="connexion">
  <ion-content has-bouncing="false" padding="true">
    <div style="color: white" class="ion-ios-close-empty" ng-click="back()"></div>
    <div class="text-center">
      <div class="padding-input">
        <div class="padding">
          <p style="color: white; font-size: 12px;">Enter your email, you'll receive some instruction with a link to reset your password</p>
          <label class="item item-input">
            <input type="text" name="user" placeholder="Email" ng-model="data.email" required>
            </label>
          </div>
        </div>
      <div class="text-center">
          <p ng-show="error" style="color: red"> {{ error }}</p>
          <p ng-show="success" style="color: green"> {{ success }}</p>
      </div>
      <button class="buttonConnexion1" ng-disabled="success" ng-click="valid()">OK</button>
    </div>
  </ion-content>
</ion-view>
