<ion-view view-title="Friends" class="friends">
  <ion-content has-bouncing="true">


  </ion-content>
    <button style="position: fixed; bottom: 80px" class="InviteNewFriends" ng-click="inviteNewFriends()">Invite your friends</button>
</ion-view>
