<ion-modal-view>
  <ion-view view-title="" class="infoCpt">
    <ion-header-bar align-title="center" class="bar-positive">
      <button class="button button-icon button-clear ion-ios-close-empty" ng-click="infoCancel()">
      </button>
      <h1 class="title">More informations</h1>
    </ion-header-bar>
    <ion-content>
    <div class="padding text-center">
    <div class="text">
      "A man need a name..."
    </div>

      <label class="item item-input">
          <input type="text"  name="firstName" placeholder="Firstname" ng-model="local.firstName">
        </label>
        <label class="item item-input">
          <input type="text" name="lastName" placeholder="Lastname" ng-model="local.lastName">
          </label>
      <button class="buttonConnexion1" ng-click="updateProfile()">Ok</button>
    </div>

    </ion-content>
  </ion-view>
</ion-modal-view>
