<ion-view view-title="map" class="map">
  <ion-content has-bouncing="false">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
      <ui-gmap-marker coords="marker.coords" click="marker.click" options="marker.options" events="marker.events"
                      idkey="marker.id">
      </ui-gmap-marker>
    </ui-gmap-google-map>
  </ion-content>
</ion-view>
