<ion-modal-view>
<ion-view class="organiserInfo">
<ion-content>
    <div class="background">
      <button style="color: black; margin-top: 14px" class="button-outline text-left" ng-click="close()"><i class="ion ion-close"></i></button>
      <div class="text-center">
      <user-image-circle class="bigCircle" user="selected"></user-image-circle>
      <h5>{{ selected.organiser.company }}</h5>
      <follow organiser-id="selected._id" list-following="followed"></follow>
    </div>
  </div>
  <p class="text-center textOrga">{{ selected.organiser.bio }}</p>
</ion-content>
</ion-view>
</ion-modal-view>
