<ion-modal-view>
<ion-view view-title="A propos" class="cfg">
  <ion-content has-bouncing="false">
    <div style="margin-left: 10px; margin-top: 10px; font-size: 30px;" class="ion-ios-close-empty" ng-click="closeModal()"></div>
    <div class="cfgText">

      TERMS OF SERVICE

          <br>
          1. Object

          These general conditions are intended to define the terms and conditions of use of the services offered on the app (hereinafter: the "Services") and to define the rights and obligations of the parties in this context.

          They are particularly accessible and printable at any time by a direct link at the bottom of the home page of the app.

          They may be supplemented, if necessary, by special conditions of use for certain services. In case of contradiction, the special conditions shall prevail over these terms and conditions.

            <br>
          2. Operator Services

          Services are operated by the Movment company being formed.
          Movment may be contacted at the following:

          Mailing Address: 13100 Aix-en-Provence
          Email: hi@movment.io

            <br>
          3. Access to the app and Services

          Services are available, subject to restrictions on the app:

          - To any natural person with full legal capacity to engage under these terms. An individual who does not have full legal capacity can access the app and services with the consent of his legal representative;

          - To any legal person acting through an individual with legal capacity to contract in the name and on behalf of the corporation.

            <br>
          4. Acceptance of Terms

          The acceptance of these terms is evidenced by the inscription on the app. This acceptance can only be full. Each accession subject is considered null and void. Users who do not agree to be bound by these terms and conditions should not use the Services.
            <br>
          5. Registration on the app
            <br>
          5.1 Use of the Services requires the user to register to the app, using the form provided for that purpose. The User must provide all information marked as mandatory. Any incomplete registration will not be validated.

          Registration automatically will open an account on behalf of the User (hereinafter: the "Account"), giving it access to a personal area (hereinafter: the "Personal Space") that to manage its use of the Services in a form and according to the technical means that Movment deems most appropriate to make such Services.

          The User guarantees that all information given in the registration form is accurate, timely and sincere and are not vitiated by any misleading.

          It undertakes to update this information in his personal account for changes, so that they always meet the above criteria.

          The User is informed and accepts that the information entered to creative purposes or update their Account are worth proof of its identity. The information entered by the User agree upon validation.

            <br>
          5.2 The User can access at any time to his personal account after identifying himself using his login ID and its password.

          The User commits himself to use the Services and to not allow any third party to use them in place or on its behalf, except to bear full responsibility.

          It is likewise responsible for maintaining the confidentiality of their username and password. It must immediately contact Movment the contact details provided in section 2 of this if he notices that his account was used without his knowledge. It recognizes Movment the right to take appropriate measures in such cases.
            <br>
          6. Description of Services

          Users have access to services described on the site, in a form and according to the features and technical resources that Movment deems most appropriate.
            <br>
          7. Free services [or] pay

          Services are provided free of charge.

          [or]
            <br>
          7.1 Price

          The price of services is shown in the app

          Unless otherwise stated, are expressed in euros all taxes included French.

          Movment reserves the right, in its unfettered discretion and upon such terms as it will be the sole judge of promotional offers or price reductions.
            <br>
          7.2 Price Adjustment

          Services The price may be subject to review by Movment at any time, at its free discretion.

          The User will be informed of these changes by email Movment under notice at least 3 months before the entry into force of the new rates.

          Users who do not accept the new prices must end its use of the Services as provided in Article 18. Otherwise, it will be deemed to have accepted the new rates.
            <br>
          7.3 Billing

          Services are subject to bills that are communicated to the User by any useful means.
            <br>
          7.4 Payment

          The terms of payment for services are described in the app

          Payment is made by direct debit from the user's credit card number.

          The levy is implemented by the designated payment provider on the site, which only keeps the banking information of the user for this purpose. Movment keeps no bank details.

          The User guarantees Movment it has the necessary permissions to use the payment method chosen. It undertakes to take the necessary measures so that the debit of the price of services can be made.
            <br>
          7.5 Delays and payment incidents

          The User is informed and accepts that any delay in payment of all or part of a sum due at maturity will result automatically, without prejudice to Article 12 and without prior notice:

          (I) early repayment of all amounts due by the User and their immediate repayment;

          (Ii) immediate suspension of ongoing services until full payment of all sums owed by the user;

          (Iii) billing to benefit Movment a delay interest at the legal rate, based on the amount of all sums owed by the User.
            <br>
          8. data

          The User expressly acknowledges and agrees:

          (I) the data collected on the site and on computer equipment Movment are authentic reality of the transactions within the framework hereof;

          (Ii) that this data is the only mode of proof recognized by the parties, including the calculation of amounts due to Movment.

          Users may access these data in its Personal Area.
            <br>
          9. User Obligations

          Without prejudice to other obligations hereunder, the User agrees to respect the following obligations:
            <br>
          9.1 The User agrees, in its use of the Services, to respect the laws and regulations and does not infringe the rights of others or to public order.

          It is particularly solely responsible for the proper fulfillment of all formalities including administrative, fiscal and / or social and all dues payments, fees or taxes of any kind its obligations, if any, in connection with its use of the Services. Responsibility for Movment will in no case be engaged in that capacity.
            <br>
          9.2 The User acknowledges on the app features and constraints, including technical, of all Services. It is solely responsible for its use of the Services.
            <br>
          9.3 The User is informed and agrees that the implementation of the Services requires that it be connected to the internet and the quality of services depends directly on the connection, which he alone is responsible.
            <br>
          9.4 The User is solely responsible relationships that may establish with other users and the information it communicates to them as part of the Services. It is to exercise caution and proper discernment in these relations and communications. The user further undertakes, in its exchanges with other users, adhere to the usual rules of politeness and courtesy.
            <br>
          9.5 The User agrees to strictly personal use of the Services. It is therefore forbidden to assign, or transfer any of its rights or obligations hereunder to any third party in any manner whatsoever.
            <br>
          9.6 The User agrees to provide Movment all information necessary for the proper performance of the Services. More generally, the User agrees to cooperate actively with Movment for the performance hereof.
            <br>
          9.7 The User is solely responsible for any kind of content (editorial, graphics, audiovisual or other, including the name and / or image may be selected by the user to identify it on the app) that diffuses into the Services (hereinafter called: the "Content").

          It guarantees Movment he has all the rights and permissions required for the dissemination of such Content.

          He agrees that the said contents are lawful, do not undermine public order, morality or rights of third parties, do not violate any statutory or regulatory provision and, more generally, are likely to put any game civil or criminal liability Movment.

          The User agrees not to broadcast and including, but are not limited to:

          - Contents pornographic, obscene, indecent, offensive or unsuitable for a family audience, defamatory, abusive, violent, racist, xenophobic or revisionist,
          - Infringing content,
          - Of the infringing contents to the image of another,
          - Contents untruthful, misleading or proposing or promoting illegal activity, fraudulent or misleading,
          - Harmful contents to the computer systems of third parties (such as viruses, worms, Trojans, etc.)
          - And more generally content may adversely affect the rights of others or to harm others in any manner and in any form whatsoever.
            <br>
          9.8 The User acknowledges that the Services offered him an additional alternative solution but not the means it already uses in addition to achieving the same objective and that this solution does not substitute such other means.
            <br>
          9.9 The User must take the necessary measures to safeguard its own information from his personal account as it considers necessary, including any copies will be provided.
            <br>
          9.10 The User is informed and agrees that the implementation of the Services requires that it be connected to the internet and the quality of services depends directly on the connection, which he alone is responsible.
            <br>
            10. User Warranty
            <br>
          The User guarantees Movment against all claims, demands, actions and / or any claims that Movment could suffer due to the breach by the User of any of its obligations or warranties under these conditions.

          He will indemnify Movment for any harm it would suffer and pay to all fees, charges and / or convictions that she might have to endure this.


          11. Prohibited behavior
            <br>
          11.1 It is strictly forbidden to use the Services to:
            <br>
          - Pursuit of illegal activity, fraudulent or violate the rights or safety of others,
          - The breach of public order or violation of laws and regulations,
          - Intrusion into the computer system of a third party or any activity likely to harm, control, interfere or intercept all or part of the computer system of a third party in violating the integrity or security,
          - Sending unsolicited and / or prospecting or commercial solicitation emails,
          - Operations to improve the ranking of a third site,
          - Using or inciting any form and by any means whatsoever, to one or more of the above described acts and activities,
          - And more generally any practice away Services for purposes other than those for which they were designed.

          11.2 It is strictly forbidden for users to copy and / or divert their purposes or those of third concept, technology or any other element of the app Movment.
            <br>
          11.3 are also strictly prohibited: (i) any behavior likely to interrupt, suspend, slow or prevent the continuity of services, (ii) any intrusions or attempted intrusions into Movment systems, (iii) any misuse of system resources site, (iv) any action likely to impose a disproportionate burden on the infrastructure of the latter, (v) any infringements of security and authentication measures, (vi) any act likely to infringe the rights and interests financial, commercial or moral of Movment or users of its site, and finally more generally (vii) any breach of these terms.
            <br>
          11.4 It is strictly forbidden to monetize, sell or license all or part of the Services or access to the site, and the information housed and / or shared.
            <br>
            12. Penalties for violations
            <br>
          In case of breach of any provision of these terms or, more generally, violations of the laws and regulations by a User, Movment reserves the right to take any appropriate action including:

          (I) suspend or terminate access to User Services, person, or of the offense, or who participated,
          (Ii) remove any content posted on the site,
          (Iii) publish on the website any information message that [CompanyName] deems appropriate,
          (Iv) advise any concerned authority,
          (V) any judicial action.




          13. Liability and guarantee Movment
            <br>
          13.1 Movment agrees to provide the Services with due diligence and according to the rules of the art, it being specified that weighs on it an obligation of means, to the exclusion of any obligation of result, Users recognize and accept specifically.
          <br>
          13.2 Movment not aware of the content posted by users in the Services, on which it performs no moderation, selection, audit or control whatsoever and for which it acts only 'as a hosting provider.
          <br>
          Accordingly, Movment can not be held responsible for content, authored by third parties, any claims should be directed first to the author of the content in question.

          Harmful to a third party content may be notified to Movment as provided by Article 6 I 5 of Act No. 2004-575 of 21 June 2004 on Confidence in the Digital Economy, Movment reserving to take the measures described in Article 12.

          13.3 Movment disclaims any liability for any loss of information accessible in the User's Personal Space, the latter must save a copy and can not claim any compensation in this respect.
            <br>
          13.4 Movment undertakes to conduct regular checks to verify the functioning and accessibility of the site. As such, Movment reserves the right to temporarily interrupt access to the site for maintenance reasons. Similarly, Movment can not be held responsible for access difficulties or impossibilities temporary site that would have originated from circumstances that are external, force majeure, or which would be due to disruptions in telecommunication networks.
            <br>
          13.5 Movment does not guarantee Users (i) the Services, subject to constant research to improve such performance and progress, will be completely free of errors, defects or faults, (ii) that the Services, being standard and not offered for the sole purpose of a given user based on his own personal constraints, specifically meet their needs and expectations.
            <br>
          13.6 In any case, the liability may be incurred by Movment hereunder is expressly limited to proven direct damages suffered by the User.
            <br>
          14. Intellectual Property
            <br>
          Systems, software, structures, infrastructures, databases and content of any kind (text, images, video, music, logos, trademarks, database, etc ...) operated by Movment within the site are protected by all rights or intellectual property rights of producers of existing databases. All disassembly, decompilation, decryption, extractions, reuses, copies and more generally, any act of reproduction, distribution and use of any of these elements, in whole or part without permission is strictly prohibited and Movment may be subject to prosecution.
            <br>
          15. Personal Data
            <br>
          Movment a practical data protection policy whose features are explained in the document entitled "Privacy Policy", which the User expressly invited to view the site.

          16. Advertising
            <br>
          Movment reserves the right to insert on any page of the site and other communication to users all advertising or promotional messages in a form and under conditions which will movment single judge.

          17. Links and Third Party Sites
            <br>
          Movment will in no case be held responsible for the technical availability of websites or mobile applications operated by third parties (including any partners) to which the user would access through the site.

          Movment assumes no liability for any content, advertising, products and / or services available on such websites and mobile applications including third are reminded that they are governed by their own terms of use.

          Movment is not liable for transactions between the User and any advertiser or merchant business (including any partners) to which the user is guided through the website and can in no case be party to some potential disputes whether with such third parties concerning in particular the delivery of products and / or services, guarantees, statements and any other obligations to which such third parties are required.
          18. Time Services, unsubscribe
            <br>
          The Services are subscribed for an indefinite period.

          Users can unsubscribe from services at any time by sending a request to that effect to Movment email, the contact details provided in section 2.

          Deregistration is effective immediately. It will automatically delete the User's Account.

          19. changes
          <br>
          Movment reserves the right to modify at any time these terms and conditions.

          The User will be informed of these changes by any useful way.

          Users who do not accept the modified terms and conditions must unsubscribe Services as provided for in Article 18.

          Any user who uses the Services after the entry into force of the modified terms and conditions is deemed to have accepted these changes.
          20. Language
            <br>
          In the event of a translation of these terms in one or more languages, language interpretation will be French in case of conflict or dispute about the meaning of a term or provision.

          21. Governing Law and Jurisdiction
            <br>
          These general conditions are governed by French law.

          In case of dispute on the validity, interpretation and / or execution of these general conditions, the parties agree that the courts of Paris shall have exclusive jurisdiction to judge unless mandatory procedural rules otherwise.

          22. Entry into force
            <br>
          These general conditions came into force March 27, 2016.
</div>


  </ion-content>
</ion-view>
</ion-modal-view>
