<ion-modal-view>
  <ion-view class="notification">
    <ion-header-bar align-title="center" class="bar-positive">
      <button class="button button-icon button-clear ion-ios-close-empty" ng-click="closeNotif()">
      </button>
      <h1 class="title">Notifications</h1>
    </ion-header-bar>
  <ion-content class="has-header">
    <div class="notificationHub">
      <div ng-if="notifs.length">
      <h4 class="titleNotif"><div class="logoNotif"><img ng-src="img/menu/drink.png"/></div>It's time to Party !</h4>
    <div ng-repeat="notif in notifs | limitTo : -3">
      <div class="notifDate">({{ notif.at | Moment: 'DD/MM/YYYY' }})</div>
      <div class="notifBox" ng-click="goToEventLocalNotif(notif.data)"><span class="indicatorText">></span>{{ notif.text }}</div>
    </div>
      </div>
      <div ng-if="notifications.length">
      <div ng-repeat="notification in notifications | limitTo :-10">
        <h4 class="titleNotif"><div class="logoNotif"><img ng-src="img/menu/ted.png"/></div>Jacks ❤️ you</h4>
        <div class="notifDate" style="color:#ff5a5f">{{ notification.notif.creationDate | date }}</div>
        <div class="notifBox" ng-click="goToEvent(notification.notif)" style="color:#FFFFFF" ng-class="{ 'notifUnread': !notifications.read}"><span class="indicatorText" style="color:#ff5a5f">></span>{{ notification.notif.message }}</div>
      </div>
      </div>
      </div>
    <div class="noNotification" ng-if="!notifs.length && !notifications.length" >There are no notifications</div>
  </ion-content>
    </ion-view>
</ion-modal-view>
