<ion-view view-title="Party organisers" class="organiser">
  <ion-content class="has-header" has-bouncing="true">
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input style="width: 100%" type="text" ng-model="search" placeholder="Search by name, by music style or event...">
        </label>
      </div>
      <ion-list>
      <div class="item item-button-right item-avatar" ng-repeat="organiser in organisers | research:search" ng-show="userScope.user._id != organiser._id">
        <user-image-circle user="organiser"></user-image-circle>
        <span ng-click="see(organiser)">
           <span class="name">
          {{ organiser.organiser.company }}
        </span>
          <div>
             <span class="typeGenre" ng-repeat="type in organiser.organiser.typeParty | limitTo: 1">
            {{ type }}.
          </span>
            <span class="typeGenre" ng-repeat="genre in organiser.organiser.genreMusic | limitTo:1">
            {{ genre }}.
          </span>
          </div>
        </span>
          <follow organiser-id="organiser._id" list-following="followed"></follow>
      </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
