<ion-popover-view class="popCall">
  <ion-content has-bouncing="false">
    <div class="text-center">
      <button class="button green" ng-click="call(event.phoneNumber[0])" >
        Call
      </button>
      <button class="button red" ng-click="map()">
        Map
      </button>
      <button ng-if="0" class="button purple" ng-click="winTicket()">
        Win a ticket
      </button>
    </div>
  </ion-content>
</ion-popover-view>
