<ion-view view-title="Preferences" class="preprofile">
  <ion-content has-bouncing="false">
<div style="text-align: center;margin-top: 60px;">
    <div class="textPreprofile">Choose the kind of events and music you prefer, so we can provide you a personalised experience</div>
</div>

    <div class="blackground"></div>
    <div class="tagger">
      <filter-button ng-repeat="genre in genres " array="musicChoices" value="genre"></filter-button>
    </div>
    <div class="tagger">
      <filter-button ng-repeat="type in types" array="eventChoices" value="type"></filter-button>
    </div>

    <div class="padding">
      <div style="text-align: right">
    <button class="buttonProfile" ng-click="updateProfile(data.user)">
      Done
    </button>
      </div>
    </div>
  </ion-content>
</ion-view>
