<ion-modal-view>
  <ion-view class="prezSnap">
    <ion-content has-bouncing="false">
      <div style="text-align: center; margin-top: 60px; ">
      <img class="imgOwl" src="img/menu/owl.png">
      </div>
      <div class="text">
      Hi !
        <br>
      I'm Mr Owl, I'm really happy to meet you.<br>
      I allow you to immediately know -thanks to videos- the real atmosphere at events near you !
        <br>
        From now, my eyes are your eyes !
        <div style="text-transform: uppercase; font-size: 14px; text-align: center; color: #fcb415;margin-top: 20px" class="padding">
          Discover the mood in parties & join !
        </div>
      </div>

      <div style="text-align: center;" class="padding">
        <button class="buttonConnexion1" ng-click="closePrez()">
            Start
        </button>
      </div>

    </ion-content>
  </ion-view>
</ion-modal-view>
