<ion-view view-title="Video description" class="snapDescription">
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon button-clear ion-ios-close-empty" ng-click="exit()">
    </button>
    <h1 class="title">Publish</h1>
  </ion-header-bar>
  <ion-content has-bouncing="false">
    <div style="margin-top: 40px;" class="list">
      <label style="margin-bottom: 30px;" class="item item-input">
        <textarea class="textarea" ng-model="data.description" rows="10" placeholder="Say something about the party"/></textarea>
      </label>
      <div style="width: 100%">
        <select ng-options="event as event.name for event in events track by event._id" ng-model="selected">
          <option value="" disabled selected>Where are you ?</option>
        </select>
      </div>
      </div>
<div style="text-align: center">
    <button class="going" ng-click="cancel()">Cancel</button>
    <button class="booked" ng-click="send(selected)">Share</button>
</div>
  </ion-content>
</ion-view>
