<ion-modal-view>
  <ion-view view-title="Intro" class="slidebox">
    <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button class="button button-positive button-clear no-animation"
              ng-click="previous()" ng-show="slideIndex > 0">
        <i class="ion ion-arrow-left-c"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-positive button-clear no-animation"
              ng-click="next()" ng-show="slideIndex != 2">
        <i class="ion ion-arrow-right-c"></i>
      </button>
      <button class="button button-positive button-clear no-animation"
              ng-click="startApp()" ng-show="slideIndex == 2">
      </button>
    </ion-nav-buttons>
    </ion-nav-bar>
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide class="slide1">
        <img ng-show="phone" class="ImgSlidebox" ng-src="img/started/screen4_001.png" />
        <img ng-hide="phone" class="ImgSlidebox" ng-src="img/started/android_filter.png" />
        <div class="headingSlideBox">
          <h3 style="color: white">Do you want something special?</h3>
          <p>Use the filters by pressing and scrolling from left to right.</p>
        </div>
      </ion-slide>
      <ion-slide class="slide2">
        <img ng-show="phone" class="ImgSlidebox" ng-src="img/started/screen6.png" />
        <img ng-hide="phone" class="ImgSlidebox" ng-src="img/started/android_wishlist.png" />
          <div class="headingSlideBox">
            <h3 style="color: white" >Are you interested in an event?</h3>
            <p>Press on the heart and the event will be in your wishlist</p>
          </div>
      </ion-slide>
      <ion-slide>
      </ion-slide>
    </ion-slide-box>
  </ion-view>
</ion-modal-view>
