<ion-view view-title="Login" class="start">
  <ion-content has-bouncing="false" padding="true">
    <div class="logo text-center">
      <img style="height: 100px; width: 100px" ng-src="img/Logo.png">
    </div>
    <h4 class="mojo text-center">Quick Signup</h4>

    <div style="margin-top: 10vh;" class="button-down text-center">
    <a class="buttonStart1" ng-click="connectWithFB()">
        Connect with <img class="buttonImg" src="img/facebooklogowhite.png"/>
    </a>
      <div class="or">Or</div>
      <a class="buttonStart3" ui-sref="signup">
        SignUp with Email
      </a>
      <a class="buttonStart2" ui-sref="connexion">
        Already a member ? <span style="color:#fcb415; font-weight: 700">Login</span>
      </a>
    </div>
  </ion-content>
</ion-view>
