<ion-view view-title="Profil" class="subcribe">
  <div class="bar bar-header bar-purple">
    <button ng-click="back()" ng-show="userScope.backButton" style="color: black; background: transparent" class="button icon ion-ios-arrow-left"></button>
    <h1 style="color:white; font-weight: 500;" class="title">Register</h1>
  </div>
  <ion-content has-bouncing="false">
    <div class="list padding" style="margin-top: 50px;padding-right: 20px; padding-left: 20px;">
      <form name="subcribe">
        <label class="item item-input item-stacked-label">
          <input type="text" name="firstname" placeholder="Firstname (required)" ng-model="data.user.firstName" required>
        </label>
        <label class="item item-input item-stacked-label">
          <input type="text" name="lastname" placeholder="Lastname (required)" ng-model="data.user.lastName" required>
        </label>
        <label class="item item-input item-stacked-label">
          <input type="email" name="email" ng-model="data.user.email" placeholder="E-mail (required)" required>
        </label>
        <label class="item item-input item-stacked-label">
          <input type="text" name="password" placeholder="Password (required)" ng-model="data.user.password" required>
        </label>

        <!-- <label class="item item-input item-stacked-label">
         <div class="text-center" style="color:white">Birthdate</div>
         <input type="date" placeholder="Date de naissance" name="birthdate" ng-model="data.user.birthDate" required>
       </label>
       <br>
       <label class="item item-input item-select">
         <div class="text-center" style="color:white">
           Sex
         </div>
         <select ng-model="data.user.gender">
           <option selected>Male</option>
           <option>Female</option>
         </select>
       </label>-->
      </form>
    </div>
    <div class="text-center">
      <p ng-show="error" style="color: red">{{ error }}</p>
    </div>
    <div class="padding">
      <div class="text-center">
        <button ng-disabled="subcribe.email.$error.required || subcribe.password.$error.required || subcribe.lastname.$error.required || subcribe.firstname.$error.required" class="buttonProfile" ng-click="data.signup()">
          join movment now
        </button>
      </div>
    </div>
    <div class="bottom-text" ng-click="cfgModal()">
      Subscribing to this app, you agree to the terms of service
    </div>
  </ion-content>
</ion-view>
