<ion-tabs ng-class="getTab() + $root.hideTabs" class="tabs-icon-top">
  <ion-tab icon="ion-flame" ui-sref="app.centrale">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-ios-personadd" ui-sref="app.friends">
    <ion-nav-view name="friends-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-ios-people" ui-sref="app.organisers">
    <ion-nav-view name="orga-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="ion-person" ui-sref="app.profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
