<ion-view class="snap">
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon button-clear ion-ios-close-empty" ng-click="exit()">
    </button>
    <h1 class="title">OWL</h1>
  </ion-header-bar>
  <ion-content has-bouncing="true" on-scroll="getScrollPosition(this)">
    <div ng-repeat="snap in snaps track by $index">
      <div class="creater">
        <img class="imgPlace" src="img/menu/markred.png">
        <div ng-click="go(snap.place.eventId)" class="buttonEvent">Join the party</div></div>
    <video-player video="snap.name">
    </video-player>
      <div class="hub">
        <like-data likes-list="snap.like" video-id="{{ snap._id }}"></like-data>
        <a style="font-size: 40px;" href="#commentSnap/{{snap._id}}"><i style="color: white;" class="ion ion-chatbubble"></i></a>
        <span ng-if="snap.like.length" style="color: white; float: right; margin-top: 8px; margin-right: 6px; font-size: 12px">{{ snap.like.length }} likes</span>
      </div>
      <div class="description">
          <span class="author">{{ snap.creator.local.firstName && snap.creator.local.lastName ? snap.creator.local.firstName + ' ' + (snap.creator.local.lastName | limitTo: 1) + '.' : snap.creator.facebook.firstName + ' ' + (snap.creator.facebook.lastName | limitTo: 1) + '.' }}</span> {{ snap.description }}
      </div>
    <div class="comments">
      <div class="link">
      <!--<a style="color: #ff5a5f" href="#commentSnap/{{snap._id}}" ng-if="snap.comments.length">Show {{ snap.comments.length }} comment(s)</a>
      <a style="color: #ff5a5f" href="#commentSnap/{{snap._id}}" ng-if="!snap.comments.length">Be the first to comment this video</a>-->
      </div>
      <div class="comment" ng-repeat="comment in snap.comments | limitTo: -3">
        <span class="author">{{ comment.creator.firstName + ' ' + (comment.creator.lastName | limitTo:1) + '.' }}</span> {{ comment.comment }}
      </div>
    </div>
    </div>

  </ion-content>
  <div class="footerbar">

  </div>
  <button class="videoCapture" ng-click="videoCapture()">
    <i style="font-size: 35px;" class="ion ion-ios-videocam-outline"></i>
  </button>
</ion-view>
