<ion-view view-title="About" class="about">
  <ion-content has-bouncing="false">
    <div class="aboutText">
We are the sons of Epicure, and it is an honor to serve them. <br>
       <br>They are our heroes. They are ... <br>Warriors by day <br>Lovers by night <br>Drunkards by mistake. <br><br>They don't exist. <br>They live. <br>They go out, explore. <br>And evolve! <br>
       <br>Their worst enemy is routine. <br>Always looking for new adventures.<br><br>Are they wrong? Are they right? <br>What we know is that we only live once. <br><br>For us, They are Artists! <br>Because existence is a fact, but living is an art. <br><br>So ... <br><br>If something does not happen, <br>Make sure it happens. <br>It's the time! <br>#jointhemovment #valuetothemoment<br><br>
<p style="font-style: italic;color:#fcb415;">#SonsOfEpicure</p>
    </div>
  </ion-content>
</ion-view>
