<ion-view view-title="Profile" class="profile">
  <ion-content has-bouncing="false" class="has-header">
    <div style="background: white;">
      <div style="text-align: center; padding-top: 20px; margin-bottom: 20px; height: 120px">
        <user-image-square style="height: 100px; width: 100px"  ng-click="uploadPicture()" user="userScope.user"></user-image-square>
      </div>
      <div class="list" >
        <a class="item item-icon-left" ui-sref="app.settings">
          <i class="icon ion-ios-gear"></i>
          <span style="color: #ff5a5f; font-weight: 600">Settings</span>
        </a>

        <a class="item item-icon-left" ui-sref="app.preferences">
          <i class="icon ion-android-done-all"></i>
          <span style="color: #ff5a5f; font-weight: 600">Preferences</span>
        </a>
      </div>
    </div>
    <div class="notification">
      <div class="notificationHub">
        <div ng-if="notifs.length">
          <h4 class="titleNotif"><div class="logoNotif"><img ng-src="img/menu/drink.png"/></div>It's time to Party !</h4>
          <div ng-repeat="notif in notifs | limitTo : -3">
            <div class="notifDate">({{ notif.at | Moment: 'DD/MM/YYYY' }})</div>
            <div class="notifBox" ng-click="goToEventLocalNotif(notif.data)"><span class="indicatorText">></span>{{ notif.text }}</div>
          </div>
        </div>
        <div ng-if="notifications.length">
          <div ng-repeat="notification in notifications | orderBy:notif.at:true | limitTo :-10">
            <div class="notifDate" style="color:#fedc32">{{ notification.notif.creationDate | date }}</div>
            <div class="notifBox" ng-click="goToEvent(notification.notif)" style="color:#FFFFFF" ng-class="{ 'notifUnread': !notifications.read}"><span class="indicatorText" style="color:#ff5a5f">></span>{{ notification.notif.message }}</div>
          </div>
        </div>
      </div>
      <div class="noNotification" ng-if="!notifs.length && !notifications.length" >There are no notifications</div>
    </div>

  </ion-content>
</ion-view>
