<ion-view view-title="Settings" class="parameters">
  <ion-content has-bouncing="false" class="has-header">
    <div class="text-center" style="margin-top: 30px; height: 90px; margin-bottom: 20px;padding: 25px;color: #626BB5;">
      The most important thing is to enjoy your life - to be happy - it's all that matters. 😉
    </div>
    <div class="list">
      <a class="item item-icon-left" ng-click="share()">
        <i style="color: #626BB5; font-size: 26px; width: 200px" class="icon ion-ios-people"></i>
        <span style="color: #ff5a5f; font-weight: 600">Invite your friends</span>
      </a>
      <a class="item item-icon-left" ng-click="recommand()">
        <i style="color: #626BB5;font-size: 26px; width: 200px" class="icon ion-ios-browsers-outline"></i>
        <span style="color: #ff5a5f; font-weight: 600">Rate us on store</span>
      </a>
      <a class="item item-icon-left" ng-click="callus()">
        <i style="color: #626BB5;font-size: 26px; width: 200px" class="icon ion-ios-telephone"></i>
        <span style="color: #ff5a5f; font-weight: 600">Call us</span>
      </a>
      <a class="item item-icon-left" ng-click="disconnect()">
        <i style="color: #626BB5;font-size: 26px; width: 200px" class="icon ion-log-out"></i>
        <span style="color: #ff5a5f; font-weight: 600">Logout</span>
      </a>
    </div>
    <div style="margin-top: 30px; font-weight: 300; color: #626BB5" class="text-center">
      Version: {{ version }}
    </div>
  </ion-content>
</ion-view>
