<ion-view view-title="Preferences" class="preference">
  <ion-content has-bouncing="false">
   <!-- <div style="margin-top: 10vh" class="padding-top">
      <p style="color:white;font-weight: 700; font-size: 14px" class="text-center">City</p>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="City" ng-change="newCity()" ng-model="data.city">
      </label>
    </div>
    </div>

    <div class="list">
      <br>
      <p style="color:white; font-weight: 700;font-size: 14px" class="text-center">Range max: {{ data.distance
        }} km</p>
      <div class="item range range-positive">
        <input type="range" name="volume" min="4" max="160" ng-model="data.distance">
      </div>
    </div>
    <p style="color:white; font-weight: 700;font-size: 14px" ng-if="0" class="text-center">Tags</p>
    <div class="tagger" ng-if="0">
      <filter-button ng-repeat="type in musictype" array="filters" value="type"></filter-button>
    </div>
    <div class="text-center">
      <button class="buttonPreference" ng-click="validate()">Let's go!</button>
    </div>-->
  </ion-content>
</ion-view>
