<ion-view class="snapComment">
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon button-clear ion-ios-arrow-left" ng-click="exit()">
    </button>
    <h1 class="title">Comments</h1>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <i style=" margin-left: 15px; margin-top: 10px; color: #007a87; font-size: 40px;"></i>
    <div ng-if="snap.place" ng-click="go(snap.place.eventId)" class="buttonEvent"><img class="markred" src="img/menu/markred.png">Join the party</div>
    <div class="description">
    <span class="author">{{ snap.creator.local.firstName && snap.creator.local.lastName ? snap.creator.local.firstName + ' ' + (snap.creator.local.lastName | limitTo: 1) + '.' : snap.creator.facebook.firstName + ' ' + (snap.creator.facebook.lastName | limitTo: 1) + '.' }}</span> {{ snap.description }}
    </div>
    <div class="comments">
     <div class="comment" ng-repeat="comment in snap.comments">
       <span class="author">{{ comment.creator.firstName + ' ' + (comment.creator.lastName | limitTo:1) + '.' }}</span> {{ comment.comment }}
     </div>
    </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar bar-footer item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-chatbubble placeholder-icon"></i>
      <input type="text" placeholder="Write a comment" ng-model="message">
    </label>
    <button class="button button-clear" ng-click="comment()">
      Send
    </button>
  </ion-footer-bar>
</ion-view>
