<ion-view view-title="Karaoké" class="tonight" hide-tabs-force>
  <div ng-show="data.filterhidden == true" class="margin-header">
    <ion-scroll direction="x" class="filters" has-bouncing="true">
      <filter-button ng-repeat="party in partytype" array="filters" value="party"></filter-button>
    </ion-scroll>
    <ion-scroll direction="x" class="filters" has-bouncing="true">
      <filter-button ng-repeat="type in musictype" array="filters" value="type"></filter-button>
    </ion-scroll>
    <ion-scroll direction="x" class="filters" has-bouncing="true">
      <filter-button ng-repeat="price in pricing" array="filters" value="price"></filter-button>
    </ion-scroll>
  </div>
  <ion-content has-bouncing="true" on-scroll="getScrollPosition(this)" delegate-handle="homeScroll"
               ng-class="{'has-subheader' : data.filterhidden == true, 'has-header': userScope.ios}">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list ng-repeat="event in filtered = (events)">
      <event-item></event-item>
    </ion-list>
    <div ng-if="!filtered.length && nodata" class="text-center" style="color: #007a87; font-size: 12px; margin-top: 50px;">
      It's empty here, It's looks like there are no events for the moment. <br> 😱
    </div>
  </ion-content>
</ion-view>
