<ion-view view-title="Tomorrow" class="tonight tomorrow" hide-tabs-force>
  <ion-content has-bouncing="true" class="has-header" on-scroll="getScrollPosition(this)" delegate-handle="homeScroll">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-scroll direction="x" class="filters" has-bouncing="true">
        <filter-button ng-repeat="party in partytype" array="filters" value="party"></filter-button>
      </ion-scroll>
      <ion-scroll direction="x" class="filters" has-bouncing="true">
        <filter-button ng-repeat="type in musictype" array="filters" value="type"></filter-button>
      </ion-scroll>
      <ion-scroll direction="x" class="filters" has-bouncing="true">
        <filter-button ng-repeat="price in pricing" array="filters" value="price"></filter-button>
      </ion-scroll>
      <div ng-repeat="event in filtered = (events) track by $index">
        <event-item></event-item>
      </div>
    </ion-list>
    <div ng-if="!filtered.length && nodata" class="text-center" style="color: #007a87; font-size: 12px; margin-top: 50px;">
      It's empty here, It's looks like there is no events for the moment. <br> 😱
    </div>
  </ion-content>
</ion-view>
