<ion-view view-title="Wishlist" class="tonight">
  <div ng-show="data.filterhidden == true" class="margin-header">
    <ion-scroll direction="x" class="filters" has-bouncing="true">
      <filter-button ng-repeat="party in partytype" array="filters" value="party"></filter-button>
    </ion-scroll>
    <ion-scroll direction="x" class="filters" has-bouncing="true">
      <filter-button ng-repeat="type in musictype" array="filters" value="type"></filter-button>
    </ion-scroll>
    <ion-scroll direction="x" class="filters" has-bouncing="true">
      <filter-button ng-repeat="price in pricing" array="filters" value="price"></filter-button>
    </ion-scroll>
  </div>
  <ion-content  has-bouncing="true" on-scroll="getScrollPosition(this)" delegate-handle="homeScroll"
               ng-class="{'has-subheader' : data.filterhidden == true, 'has-header': userScope.ios}">
    <div style="text-align: center; margin-top: 50px" ng-show="events.length == 0">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
    </div>
    <ion-list ng-repeat="event in filtered = (events)">
      <event-item></event-item>
    </ion-list>
    <div ng-if="!filtered.length" class="text-center" style="color: black; font-size: 16px; margin-top: 50px;">
     <div style="color: black; font-size: 20px; font-weight: 100; margin-bottom: 50px">Favorites</div>
      <br>
      <i  style="font-size: 40px; color: #ff5a5f;" class="ion ion-heart"></i>
      <i  style="font-size: 40px; color: #ff5a5f;" class="ion ion-heart"></i>
      <i  style="font-size: 40px; color: #ff5a5f;" class="ion ion-heart"></i>
      <br>
      <div style="margin-top:65px">
        When you favorite an event,<br>it will appear here
        </div>
    </div>
  </ion-content>
</ion-view>
