/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

/*@import url(@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro););
$font-family-base: "Source Sans Pro", sans-serif !default;*/




/*
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src:url('../font/HelveticaLTStd-Blk.otf') format('truetype');
}
*/

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";
@import "../www/lib/fontawesome/scss/font-awesome.scss";

@font-face {
  font-family: 'UXPin-icon-set';
  src:url('UXPin-icon-set.eot?kib1r2');
  src:url('UXPin-icon-set.eot?#iefixkib1r2') format('embedded-opentype'),
  url('UXPin-icon-set.woff?kib1r2') format('woff'),
  url('UXPin-icon-set.ttf?kib1r2') format('truetype'),
  url('UXPin-icon-set.svg?kib1r2#UXPin-icon-set') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-uxpin-icon-set-"], [class*=" icon-uxpin-icon-set-"] {
  font-family: 'UXPin-icon-set';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-uxpin-icon-set-achievement-regular:before {
  content: "\e600";
}

.icon-uxpin-icon-set-add-user-regular:before {
  content: "\e601";
}

.icon-uxpin-icon-set-at-regular:before {
  content: "\e602";
}

.icon-uxpin-icon-set-bag-regular:before {
  content: "\e603";
}

.icon-uxpin-icon-set-bell-regular:before {
  content: "\e604";
}

.icon-uxpin-icon-set-book-regular:before {
  content: "\e605";
}

.icon-uxpin-icon-set-bookmark-regular:before {
  content: "\e606";
}

.icon-uxpin-icon-set-box-regular:before {
  content: "\e607";
}

.icon-uxpin-icon-set-brush-regular:before {
  content: "\e608";
}

.icon-uxpin-icon-set-bulb-regular:before {
  content: "\e609";
}

.icon-uxpin-icon-set-calculator-regular:before {
  content: "\e60a";
}

.icon-uxpin-icon-set-calendar-regular:before {
  content: "\e60b";
}

.icon-uxpin-icon-set-camcorder-regular:before {
  content: "\e60c";
}

.icon-uxpin-icon-set-camera-regular:before {
  content: "\e60d";
}

.icon-uxpin-icon-set-chart-regular:before {
  content: "\e60e";
}

.icon-uxpin-icon-set-checkmark-regular:before {
  content: "\e60f";
}

.icon-uxpin-icon-set-chemistry-regular:before {
  content: "\e610";
}

.icon-uxpin-icon-set-clip-regular:before {
  content: "\e611";
}

.icon-uxpin-icon-set-clock-regular:before {
  content: "\e612";
}

.icon-uxpin-icon-set-cloud-regular:before {
  content: "\e613";
}

.icon-uxpin-icon-set-cog-regular:before {
  content: "\e614";
}

.icon-uxpin-icon-set-compass-regular:before {
  content: "\e615";
}

.icon-uxpin-icon-set-compose-regular:before {
  content: "\e616";
}

.icon-uxpin-icon-set-credit-card-regular:before {
  content: "\e617";
}

.icon-uxpin-icon-set-cursor-regular:before {
  content: "\e618";
}

.icon-uxpin-icon-set-dashboard-regular:before {
  content: "\e619";
}

.icon-uxpin-icon-set-database-regular:before {
  content: "\e61a";
}

.icon-uxpin-icon-set-display-regular:before {
  content: "\e61b";
}

.icon-uxpin-icon-set-download-regular:before {
  content: "\e61c";
}

.icon-uxpin-icon-set-envelope-regular:before {
  content: "\e61d";
}

.icon-uxpin-icon-set-file-regular:before {
  content: "\e61e";
}

.icon-uxpin-icon-set-folder-regular:before {
  content: "\e61f";
}

.icon-uxpin-icon-set-gift-regular:before {
  content: "\e620";
}

.icon-uxpin-icon-set-graph-regular:before {
  content: "\e621";
}

.icon-uxpin-icon-set-heart-regular:before {
  content: "\e622";
}

.icon-uxpin-icon-set-home-regular:before {
  content: "\e623";
}

.icon-uxpin-icon-set-invisible-regular:before {
  content: "\e624";
}

.icon-uxpin-icon-set-iPad-regular:before {
  content: "\e625";
}

.icon-uxpin-icon-set-iPhone-regular:before {
  content: "\e626";
}

.icon-uxpin-icon-set-joystick-regular:before {
  content: "\e627";
}

.icon-uxpin-icon-set-key-regular:before {
  content: "\e628";
}

.icon-uxpin-icon-set-life-belt-regular:before {
  content: "\e629";
}

.icon-uxpin-icon-set-lightning-regular:before {
  content: "\e62a";
}

.icon-uxpin-icon-set-like-regular:before {
  content: "\e62b";
}

.icon-uxpin-icon-set-link-regular:before {
  content: "\e62c";
}

.icon-uxpin-icon-set-macbook-regular:before {
  content: "\e62d";
}

.icon-uxpin-icon-set-magnifying-glass-regular:before {
  content: "\e62e";
}

.icon-uxpin-icon-set-map-regular:before {
  content: "\e62f";
}

.icon-uxpin-icon-set-megaphone-regular:before {
  content: "\e630";
}

.icon-uxpin-icon-set-message-regular:before {
  content: "\e631";
}

.icon-uxpin-icon-set-microphone-regular:before {
  content: "\e632";
}

.icon-uxpin-icon-set-money-regular:before {
  content: "\e633";
}

.icon-uxpin-icon-set-movie-file-regular:before {
  content: "\e634";
}

.icon-uxpin-icon-set-package-regular:before {
  content: "\e635";
}

.icon-uxpin-icon-set-pen-regular:before {
  content: "\e636";
}

.icon-uxpin-icon-set-pencil-regular:before {
  content: "\e637";
}

.icon-uxpin-icon-set-pencil-ruler-regular:before {
  content: "\e638";
}

.icon-uxpin-icon-set-picture-file-regular:before {
  content: "\e639";
}

.icon-uxpin-icon-set-piggybank-regular:before {
  content: "\e63a";
}

.icon-uxpin-icon-set-pin-regular:before {
  content: "\e63b";
}

.icon-uxpin-icon-set-printer-regular:before {
  content: "\e63c";
}

.icon-uxpin-icon-set-quote-regular:before {
  content: "\e63d";
}

.icon-uxpin-icon-set-share-regular:before {
  content: "\e63e";
}

.icon-uxpin-icon-set-shield-regular:before {
  content: "\e63f";
}

.icon-uxpin-icon-set-sight-regular:before {
  content: "\e640";
}

.icon-uxpin-icon-set-site-map-regular:before {
  content: "\e641";
}

.icon-uxpin-icon-set-sound-regular:before {
  content: "\e642";
}

.icon-uxpin-icon-set-spanner-regular:before {
  content: "\e643";
}

.icon-uxpin-icon-set-star-regular:before {
  content: "\e644";
}

.icon-uxpin-icon-set-stoper-regular:before {
  content: "\e645";
}

.icon-uxpin-icon-set-suitcase-regular:before {
  content: "\e646";
}

.icon-uxpin-icon-set-tack-regular:before {
  content: "\e647";
}

.icon-uxpin-icon-set-tag-regular:before {
  content: "\e648";
}

.icon-uxpin-icon-set-telephone-regular:before {
  content: "\e649";
}

.icon-uxpin-icon-set-text-file-regular:before {
  content: "\e64a";
}

.icon-uxpin-icon-set-transport-regular:before {
  content: "\e64b";
}

.icon-uxpin-icon-set-trash-regular:before {
  content: "\e64c";
}

.icon-uxpin-icon-set-trolley-regular:before {
  content: "\e64d";
}

.icon-uxpin-icon-set-visible-regular:before {
  content: "\e64e";
}

.icon-uxpin-icon-set-wallet-regular:before {
  content: "\e64f";
}

.icon-uxpin-icon-set-window-regular:before {
  content: "\e650";
}

.icon-uxpin-icon-set-world-regular:before {
  content: "\e651";
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}


.button-clear.button-clear {
  color: #FFFFFF;
}

.bar.bar-stable .title {
  color:#ffffff;
  text-transform: none;
  font-size: 18px;
}

.bar-stable .button.button-clear{
  color:#ffffff;
}

.start {
  .or{
    width: 100%;
    display: block;
    text-align: center;
    color:white;
    font-size: 16px;
  }
  .member {
    text-align: center;
    width: 100%;
    height: 20px;
    margin-top: 50px;
    font-size: 18px;
    color: white;
  }
  .cfg {
    font-size: 6px;
    text-align: justify;
    .scroll-content{
      background: white;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      .button-down{
        .button{
          margin-bottom: 40px;
          margin-top: 20px;
        }
      }
    }
  }

  .button-down {
    margin-top: 5%;
  }

  .buttonStart1 {
    height: 50px;
    width: 95%;
    font-weight: 700;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 12px;
    border: 1px inset black;
    background: #183152;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    padding: 14px 40px 14px 40px;
    text-decoration: none;

    .subtext {
      font-size: 8px;
    }

  }

  .buttonImg {
    float: right;
    margin-top: -10px;
    display: block;
    position: relative;
    height: 40px;
  }

  .buttonStart1:hover {
    background: #296da1;
  }

  .buttonStart3 {
    text-align: center;
    height: 50px;
    width: 95%;
    font-weight: 700;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 45px;
    border: 1px inset black;
    background: #dd3333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 18px;
    padding: 14px 10px 14px 10px;
    text-decoration: none;

    .subtext {
      font-size: 8px;
    }

  }

  .buttonStart3:hover {
    background: #a32d2d;
  }


  .buttonStart2 {
    height: 50px;
    width: 95%;
    font-weight: 700;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    border: 1px inset black;
    background: #02656f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fafff3;
    font-size: 18px;
    padding: 14px 40px 14px 40px;
    text-decoration: none;
  }

  .buttonStart2:hover {
    background: #02525c;
  }


  .bottom-text {
    font-size: 12px;
    margin-right: 42px;
    margin-left: 42px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
    margin-top: 12vh;
  }

    .logo {
      margin-top: 5%;
    }

  .mojo {
    color: #ffffff;
    font-size: 16px;
    margin-top: 0;
  }

    .scroll-content{
      background: #017b8a;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      .button-down{
        .button{
          margin-bottom: 40px;
          margin-top: 20px;
        }
      }
    }
}

.connexion{

  .item {
    border-width: inherit;
  }

  input::-webkit-input-placeholder {
    color: #929292 !important;
  }

  .item{
    background-color: transparent;

  }

  a.forget {
    color: white;
    font-size: 14px;
    font-weight: 600;
  }

  .mojo {
    position: relative;
    color: #FFFAD5;
    font-size: 16px;
    margin-top: 2%;
    margin-bottom: 0;
  }

  input {
    height: 20px;
  }


  .padding-input {
    margin-top: 20%;
    padding-bottom: 25px;
  }

  .buttonConnexion1 {
    text-transform: uppercase;
    height: 80px;
    width: 95%;
    font-weight: 700;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    border: none;
    background: #fcb415;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 20px;
    padding: 14px 40px 14px 40px;
    text-decoration: none;
  }

  input{
    color: white;
    border-bottom: inset 1px white;
    border-radius: inherit;
    background-color: transparent !important;
  }



  .buttonConnexion2 {
    text-transform: uppercase;
    margin-left: 10px;
    margin-top: 4px;
    border: none;
    background: #44619d;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
  }


  .scroll-content{
    background: #1d1742;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  div {
    .ion-ios-close-empty{
      font-size: 35px;
    }
  }

}

.party{

  .numberNotif {
    color: white;
    font-size: 12px;
    height: 18px;
    width: 18px;
    border-radius: 10px;
    background: red;
    position: absolute;
    top: 0;
    text-align: center;
    right: 18px;
    z-index: 100;
  }

  .fa {
    font-size: 22px;
  }

  .imgOwl {
    height: 30px;
    width: 40px;
  }

  .owl {
    right: 10px;
    padding: 10px;
    padding-top: 15px;
    bottom: 10px;
    background-color: #1d1742;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    position: fixed;
  }

  .scroll-content{
    background-color: #ffffff;
    .item{
      margin: 0;
      border-width: 0;
      border-bottom: 1px solid white;
    }
    .item-content {
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 2.5vw;
      padding-right: 5px;
      text-transform: uppercase;
      height: 50vh;
      width: 100vw;
      h2{
        font-size: 23px;
        margin-top: 2%;
        font-weight: 700;
        color: white;
        line-height: 50vh;
      }
      .round {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top:19.6vh;
        height: 35px;
        width: 35px;
        border: 1px solid white;
        border-radius: 30px;
      }

      hr {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        position: absolute;
        top:33vh;
        width: 30px;
        height: 1px;
        border: 0;
        border-top: 2px solid #e2e2e2;
      }

      i{
        font-weight: 200;
        position: relative;
        top: 21vh;
        color: white;
      }
      .item-background{
        border-radius: 10px;
        position: absolute;
        height: 48vh;
        width: 95vw;
        background: linear-gradient(rgba(105, 11, 7, 0.20), rgba(105, 11, 7, 0.20)), no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -100;
        margin: 0;
      }
    }
  }
}

.circle {
  margin: auto;
  vertical-align:middle;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}

.Menu{
  .iconMenu {
    height: 50px;
    width: 50px;
  }

  .blackground {
    position: fixed;
    top: 19vh;
    height: 100 - 18vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: -100000 !important;
  }

  .item-complex .item-content, .item-radio .item-content {
    background-color: transparent;
  }

.profil{
  background: url(../img/menu/sidemenu.png) rgba(0, 0, 0, 0.5) no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .subprofil{
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.00);
    text-align: center;
    p {
      margin-top: 10px;
      font-size: 16px;
      color: #fcb415;
    }
  .circle{
    margin: auto;
    vertical-align: middle;
    border-radius: 120px;
    width: 120px;
    height: 120px;
  }
  }
}
  .bar-stable{
    background-color: #dfdcc1;
  }
  .bar-header{
    background-color: #007a87;
  }

  .menu-item {
    position: absolute;
    top: 30vh;
    width: 100vw;
    a {height: 68px;}
  }

  .menu{

    .item {
      background-color: rgba(80, 159, 160, 0.0);
      border-color: rgba(0, 122, 135, 0.0);
      color: #ffffff;
      height: 66px;
    }

    .textMenu {
      position: absolute;
      left: 90px;
      top: 34px;
    }

    .item-content{
      //background-color: #509fa0;
      border-bottom: inset 1px rgba(255, 255, 255, 0.0);
    }
  }
}

.preference{

  .button-filter {
    font-weight: 600;
    width: 30vw;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 4px;
    border: none;
    background: #ff5a5f;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }

  .active {
    background: #007a87;
    color: #fcb415;
  }

  .buttonPreference {
    margin-left: 10px;
    margin-top: 40vw;
    border: none;
    width: 150px;
    height: 50px;
    background: #fcb415;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
  }

  .buttonPreference:hover {
    background: #ff5a5f;
  }

  .tagger {
    overflow: hidden;
    display: block;
    padding-right: 0;
    padding-left: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 30vh;
    background-color: white;
  }

  .item {
    background-color: #ffffff;
  }

 .scroll-content{
   background-color: #509fa0;
 }
}

.parameters{

  .item {
    border-color: #e1e1e1;
  }

  .buttonParameters {
    height: 32px;
    font-weight: bold;
    width: 85vw;
    position: relative;
    border: none;
    background: #ff5a5f;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 14px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
  }

  .buttonParametersDeco {
    height: 32px;
    font-weight: bold;
    width: 85vw;
    position: relative;
    border: none;
    background: #fcb415;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
  }

  .scroll-content{
    background-color: white;
  }
}


*::-webkit-input-placeholder {
  color: rgba(41, 41, 41, 0.34) !important;
}
*:-moz-placeholder {
  color: rgba(41, 41, 41, 0.34) !important;
}

.profile{

  .textPreprofile {
    width: 80%;
    text-transform: uppercase;
    font-size: 12px;
    color: #007a87;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  label {
    margin-top: 8px;
    margin-bottom: 5px;
  }


  .button-filter {
    outline: none;
    display: inline;
    width: 90px;
    font-weight: 600;
    border: 1px solid #ff5a5f;
    background: transparent;
    margin: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ff5a5f;
    font-size: 12px;
    text-decoration: none;
  }

  .button-filter.active {
    background: #ff5a5f;
    color: white;
  }

  .blackground {
    position: absolute;
    top: 15vh;
    background: rgba(0, 0, 0, 0.20);
    height: 550px;
    min-height: 400px;
    max-height: 600px;
  }

  .heading {
    padding-top: 7px;
    padding-bottom: 6px;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    font-size:16px;
    color: #fcb415;
    background: rgba(0, 0, 0, 0.25);
    height: 40px;
    width: 100vw;
  }


  .tagger {
    text-align: center;
    overflow: hidden;
    display: block;
    padding-right: 0;
    padding-left: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 25vh;
    background-color: transparent;
  }

  .item-select select{
    color: #000000;
    background-color: #ffffff;
  }

  .buttonProfile{
    outline: none;
    display: inline;
    width: 90px;
    font-weight: 600;
    border: 1px solid #ff5a5f;
    background: transparent;
    margin: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ff5a5f;
    font-size: 12px;
    text-decoration: none;
  }

  .buttonProfile[disabled] {
    color: #ff5a5f;
  }


  .item{
    background-color: transparent;

  }

  .input-label{
    padding-left: 2px;
    color: #000000;
    background-color: #ffffff;
  }

  .imgProfile{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 150px;
    width: 150px;
  }

  input::-webkit-input-placeholder {
    color: #ffffff;
    padding-left: 4px;
  }

  p {
    color: #fff;
    padding-left: 6px;
  }


  input{
    padding-left: 4px;
    color: #000000;
    background-color: #ffffff;
  }
  .item-input{
    padding: 0;
  }

  .scroll-content{
    background: #1d1742;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
}

.preprofile{

  .textPreprofile {
    width: 80%;
    text-transform: uppercase;
    font-size: 12px;
    color: #007a87;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  label {
    margin-top: 8px;
    margin-bottom: 5px;
  }


  .button-filter {
    outline: none;
    display: inline;
    width: 90px;
    font-weight: 600;
    border: 1px solid #ff5a5f;
    background: transparent;
    margin: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ff5a5f;
    font-size: 12px;
    text-decoration: none;
  }

  .button-filter.active {
    background: #ff5a5f;
    color: white;
  }

  .blackground {
    position: absolute;
    top: 15vh;
    background: rgba(0, 0, 0, 0.20);
    height: 550px;
    min-height: 400px;
    max-height: 600px;
  }

  .heading {
    padding-top: 7px;
    padding-bottom: 6px;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
    font-size:16px;
    color: #fcb415;
    background: rgba(0, 0, 0, 0.25);
    height: 40px;
    width: 100vw;
  }


  .tagger {
    text-align: center;
    overflow: hidden;
    display: block;
    padding-right: 0;
    padding-left: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 25vh;
    background-color: transparent;
  }

  .item-select select{
    color: #000000;
    background-color: #ffffff;
  }

  .buttonProfile{
    outline: none;
    display: inline;
    width: 90px;
    font-weight: 600;
    border: 1px solid #ff5a5f;
    background: transparent;
    margin: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #ff5a5f;
    font-size: 12px;
    text-decoration: none;
  }

  .buttonProfile[disabled] {
    color: #ff5a5f;
  }


  .item{
    background-color: transparent;

  }

  .input-label{
    padding-left: 2px;
    color: #000000;
    background-color: #ffffff;
  }

  .imgProfile{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 150px;
    width: 150px;
  }

  input::-webkit-input-placeholder {
    color: #ffffff;
    padding-left: 4px;
  }

  p {
    color: #fff;
    padding-left: 6px;
  }


  input{
    padding-left: 4px;
    color: #000000;
    background-color: #ffffff;
  }
  .item-input{
    padding: 0;
  }

  .scroll-content{
    background: white;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
}

.subcribe{

  .item {
    border-width: inherit;
  }

  .bottom-text {
    font-size: 12px;
    margin-right: 42px;
    margin-left: 42px;
    text-align: center;
    position: relative;
    color: #FFFFFF;
    margin-top: 12vh;
  }
  .textPreprofile {
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  label {
    margin-top: 8px;
    margin-bottom: 5px;
  }

  .button-filter {
    font-weight: 600;
    width: 30vw;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 4px;
    border: none;
    background: #ff5a5f;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
  }

  .active {
    background: #007a87;
    color: #fcb415;
  }

  .blackground {
    position: absolute;
    top: 15vh;
    background: rgba(0, 0, 0, 0.20);
    height: 550px;
    min-height: 400px;
    max-height: 600px;
  }

  .heading {
    padding-top: 7px;
    padding-bottom: 6px;
    vertical-align: middle;
    margin-top: 10px;
    position: relative;
    font-size:16px;
    color: #fcb415;
    background: rgba(0, 0, 0, 0.25);
    height: 40px;
    width: 100vw;
  }

  .tagger {
    overflow: hidden;
    display: block;
    padding-right: 0;
    padding-left: 0;
    padding-top: 2%;
    padding-bottom: 2%;
    height: 25vh;
    background-color: transparent;
  }

  .item-select select{
    color: #000000;
    background-color: #ffffff;
  }

  .buttonProfile{
    text-transform: uppercase;
    height: 80px;
    width: 95%;
    font-weight: 700;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 30px;
    border: 1px inset black;
    background: #fcb415;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 20px;
    padding: 14px 40px 14px 40px;
    text-decoration: none;
  }

  .buttonProfile[disabled] {

  }


  .item{
    background-color: transparent;

  }

  .input-label{
    padding-left: 2px;
    color: #000000;
    background-color: #ffffff;
  }

  .imgProfile{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 150px;
    width: 150px;
  }

  p {
    color: #fff;
    padding-left: 6px;
  }

  input{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-left: 4px;
    color: white;
    border-bottom: inset 1px white;
    border-radius: inherit;
    background-color: transparent;
  }

  input::-webkit-input-placeholder {
    color: #929292 !important;
  }

  .item-input{
    padding: 0;
  }

  .scroll-content{
    background: #003137;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
}

.tonight{

  .fade.ng-hide {
      transition:0.5s linear all;
      opacity:0;
  }

  .fade.ng-enter {
    transition:0.5s linear all;
    opacity:1;
  }

  .wishlist-button {
    height: 30px;
    width: 40px;
    position: absolute;
    right: 0px;
    top: 10px;
    .ion {
      font-weight: bolder;
      font-size: 28px;
      color: #fcb415;
    }
  }

  .bar{
    padding: 0;
  }

  .has-subheader{
    top: 235px !important;
  }
  .bar-subheader{
    height: auto;
  }

  .back {
    margin-top: 65%;
  }

  .filters {
    padding-top: 8px;
    height: 58px;
    white-space: nowrap;
    background-color: #ff5a5f;
    border-bottom: 2px solid #ffffff;
  }

  .scroll {
    min-width: 100%;
  }

  .button-filter {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    width: 25.5vw;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 4px;
    border: none;
    background: #ff5a5f;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 12px 5px 12px;
    text-decoration: none;
  }

  .button-filter.active {
    background: #ffffff;
    color:  #ff5a5f;
  }

  .scroll-bar {
    display: none;
  }
  .scroll-content {
    background: rgb(226, 226, 226);
    .item {
      border-width: 0;
      background-color: transparent;
    }
    .item-content {
      .block {
        position: relative;
        bottom: -34vh;
        display: block;
        min-height: 16vh;
        height: 16vh;
        background: linear-gradient(rgba(116, 120, 164, 0.18), rgba(49, 53, 99, 0.4));
      }
      height: 55vh;
      background: rgba(255, 255, 255, 0);
      .item-background {
        position: absolute;
        height: 50vh;
        width: 100vw;
        background: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -100;
        margin: 0;
        top: 0;
        left: 0;
      }
      button {
        position: absolute;
        right: 5px;
      }
      .name_event {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        color: #FFFAD5;
        position: absolute;
        left: 20px;
        bottom: 65px;
      }
      .position_event {
        font-size: 12px;
        color: #7dd9b7;
        position: absolute;
        left: 20px;
        bottom: 36px;
      }
      .hour_event {
        font-size: 12px;
        color: #FFFFFF;
        position: absolute;
        left: 20px;
        bottom: 5px;
      }
      .price_event {
        font-size: 18px;
        color: #ffffff;
        position: absolute;
        right: 20px;
        bottom: 5px;
      }

      .type {
        font-size: 10px;
        color: #ffffff;
        position: absolute;
        left: 103px;
        bottom: 5px;
      }

      .people {
        content: '';
        color: #fedc32;
        font-size: 10px;
        position: absolute;
        bottom: 5px;
      }
    }
  }
}

.friends {
  .InviteNewFriends {
    border: none;
    border-radius: 4px;
    color: white;
    background: #7dd9b7;
    margin-left: 30px;
    margin-right: 30px;
    height: 60px;
    width: 80%;
  }
}

.theme {
  .wishlist-button {
    height: 30px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 20px;
    .ion {
      font-weight: bolder;
      font-size: 28px;
      color: #fcb415;
    }
  }

  .bar {
    padding: 0;
  }
  .has-subheader {
    top: 155px;
  }

  .bar-subheader {
    height: auto;
  }

  .back {
    margin-top: 60%;
    height: 90px;
    background-color: rgba(00, 00, 00, 0.5);
  }

  .filters {
    padding-top: 8px;
    height: 58px;
    white-space: nowrap;
    background-color: #188A96;
    border-bottom: 2px inset #ffffff;
  }

  .scroll {
    min-width: 100%;
  }

  .button-filter {
    font-weight: 600;
    width: 25.5vw;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 4px;
    border: none;
    background: #188A96;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 13px;
    padding: 5px 12px 5px 12px;
    text-decoration: none;
  }
  .active {
    background: #ff5a5f;
  }

  .scroll-bar{
    display: none;
  }
  .scroll-content{
    background-color: #A4ABBF;
    .item{
      border-width: 0;
    }
    .item-content {
      height: 57vh;
      background-color: #A4ABBF;
      .item-background{
        position: absolute;
        height: 50vh;
        width: 100vw;
        background: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -100;
        margin: 0;
        top:0;
        left:0;
      }
      button{
        position: absolute;
        right: 5px;
      }
      .type {
        font-size: 12px;
        color: #ffffff;
        position: absolute;
        right: 20px;
        bottom: 65px;
      }
      .name_event{
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 500;
        color: #FFFAD5;
        position: absolute;
        left: 20px;
        bottom: 65px;
      }
      .position_event{
        font-size: 11px;
        color: #fcb415;
        position: absolute;
        left: 20px;
        bottom: 36px;
      }
      .hour_event{
        font-size: 14px;
        color: #FFFFFF;
        position: absolute;
        left: 20px;
        bottom: 5px;
      }
      .price_event {
        font-size: 12px;
        color: #ffffff;
        position: absolute;
        right: 20px;
        bottom: 5px;
      }
    }
  }
}

.weekend {
  .wishlist-button {
    height: 30px;
    width: 40px;
    position: absolute;
    right: 0px;
    top: 20px;
    .ion {
      font-weight: 900;
      font-size: 28px;
      color: #fcb415;
    }
  }

  .bar {
    padding: 0;
  }
  .has-subheader {
    top: 235px !important;
  }

  .bar-subheader {
    height: auto;
  }

  .back {
    margin-top: 65%;
  }

  .filters{
    padding-top: 8px;
    height: 58px;
    white-space: nowrap;
    background-color: rgb(38, 38, 38);
    border-bottom: 2px solid #ffffff;
  }

  .scroll {
    min-width: 100%;
  }

  .button-filter {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    width: 25.5vw;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 4px;
    border: none;
    background: rgb(38, 38, 38);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #fcb415;
    font-size: 13px;
    padding: 5px 12px 5px 12px;
    text-decoration: none;
  }

  .button-filter.active {
    background: #222222;
    color: rgb(255, 255, 255);
  }

  .scroll-bar {
    display: none;
  }
  .scroll-content {
    background: white;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    .item {
      color: #0a9dc7;
      border-width: 0;
      background: white;
    }
    .item-content {
      .block {
        position: relative;
        bottom: -34vh;
        display: block;
        min-height: 16vh;
        height: 16vh;
        background: linear-gradient(rgba(116, 120, 164, 0), rgba(255, 255, 255, 0.33));;
      }
      height: 55vh;
      background-color: transparent;
      .item-background {
        position: absolute;
        height: 50vh;
        width: 100vw;
        background: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        z-index: -100;
        margin: 0;
        top: 0;
        left: 0;
      }
      button {
        position: absolute;
        right: 5px;
      }
      .type {
        font-size: 12px;
        color: #ffffff;
        position: absolute;
        right: 20px;
        bottom: 65px;
      }
      .name_event {
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 500;
        color: #FFFAD5;
        position: absolute;
        left: 20px;
        bottom: 65px;
      }
      .position_event {
        font-size: 12px;
        color: #fcb415;
        position: absolute;
        left: 20px;
        bottom: 36px;
      }
      .hour_event {
        font-size: 10px;
        color: #FFFFFF;
        position: absolute;
        left: 20px;
        bottom: 5px;
      }
      .price_event {
        font-size: 12px;
        color: #ffffff;
        position: absolute;
        right: 20px;
        bottom: 5px;
      }

      .people {
        color: #007a87;
        font-size: 10px;
        position: absolute;
        bottom: 6px;
      }
    }
  }
}

.Event {

  .playVideo {
    font-weight: 100;
    opacity: 0.6;
    font-size: 80px;
    position: absolute;
    top: 12vh;
    left: 40vw;
    color: white;
  }
  .playVideo1 {
    font-weight: 100;
    opacity: 0.6;
    font-size: 74px;
    position: absolute;
    top: 12.5vh;
    left: 47vw;
    color: white;
  }

  .fade.ng-hide {
    transition:2s linear all;
    opacity:0;
  }

  .fade.ng-enter {
    transition:6s linear all;
    opacity:1;
  }

  .fade {
    transition:6s linear all;
    opacity:1;
  }

  p {
    margin: 0;
  }

  .eventName {
    padding-top: 10px;
    margin-top: -1px;
    text-align: center;
    height: 40px;
    width: 100%;
    background: #ff5a5f;
    color:black;
  }

  .musicIcon {
    margin-left: 12px;
    margin-top: 10px;
    height: 20px;
    width: 20px;
    float: left;
  }

  .hub {
    font-size: 16px;
    width: 100%;
    height: 40px;
    background:white;
    color: #1d1742;
  .tag {
    margin-left: 3px;
    margin-top: 9px;
    display: block;
    position: relative;
    float: left;
  }
  .price {
    font-size: 18px;
    color:#1d1742;
    margin-right: 12px;
    margin-top: 9px;
    display: inline-block;
    position: relative;
    float: right;
  }
  }

  .wishlist-button {
    position: absolute;
    right: 12px;
    top: 21px;
    .ion {
      font-weight: 900;
      font-size: 28px;
      color: #ff5a5f;
    }
  }

  .content-event {
    top: 40vh;
  }

  .has-image {
    top: 0;
  }


  .ImageEvent{
    height: 40vh;
    width: 100vw;
  }

  h4 {
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
  }
  .description {
    font-size: 16px;
    color: #1d1742;
    padding: 8px;
    padding-bottom: 5px;
    margin-top: 0;
    position: relative;
    background-color: #f2f2f2;
    min-height: 20px;
    width: 100vw;
    z-index: 100;
  }

  .book {
    background: rgba(200, 200, 200, 0.8);
    height: 70px;
    width: 100vw;
    display: block;
    text-align: center;
    bottom: 0;
    position: fixed;
    z-index: 1600;
  }

  .geoAdress {
    width: 160px;
    font-weight: 900;
    font-size: 14px;
    color: #1d1742;
    text-align: left;
    height: 30px;
    margin-top: 12px;
  }

  .smallText {
    text-transform: uppercase;
    font-weight: 800;
    color: #ffffff;
    font-size: 10px;
    float: left;
  }

  .adressText {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
  }

  .adressIcon {
    float:right;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 18px;
    height: 20px;
    width: 18px;
  }

  .openMap {
    color: #ff5a5f;
    float:right;
    font-size: 16px;
    margin-left: 15px;
    margin-top: -15px;
    height: 20px;
  }

  .dateIcon {
    float: left;
    margin-left: 15px;
    margin-top: 8px;
    height: 25px;
    width: 25px;
  }

  .spacer {
    color: white;
    font-size: 20px;
    padding-top: 25px;
    padding-left: 15px;
    height: 70px;
    width: 100%;
    background-color: #ff5a5f;
  }

  .mapButton {
    text-align: center;
    padding: 2px 20px 5px 20px;
    margin-top: 30px;
    margin-bottom: 22px;
    background: #f2f2f2;
    height: 120px;
    width: 100%;
  }

  .datePlan {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }

  .timePlan {
    color: #1d1742;
    text-align: center;
    background: #f2f2f2;
    padding-left: 25px;
    height: 40px;
    width: 100%;
    margin-bottom: 100px;
  }

  .exit{
    height: 30px;
    width: 40px;
    font-size: 30px;
    font-weight: bolder;
    top: 20px;
    left: 10px;
    color:  #ff5a5f;
    position: absolute;
  }

  .interest {
    font-weight: 600;
    width: 30vw;
    border: none;
    background: #5f6273;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 0.9em;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
  }

  .going {
    margin-top: 10px;
    margin-right: 23px;
    height: 50px;
    font-weight: 600;
    width: 30vw;
    border: none;
    background: #626BB5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 0.8em;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
  }

  .booked {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 23px;
    height: 50px;
    width: 30vw;
    border: none;
    background: #62B595;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 0.9em;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
  }

  .booked.active {
    background:#ff5a5f;
  }

  .scroll-content {
    background: #C8C8C8;

  }
}

.about {
  .aboutText {
    text-align: center;
    font-weight: 600;
    padding: 10px;
    color: #FFFFFF;
  }
  .scroll-content {
    background: linear-gradient(rgba(00, 00, 00, 0.45), rgba(00, 00, 00, 0.45)), url(../img/menu/sidemenu.png)  no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
}

.map {
  .angular-google-map-container {
    height: 93vh;
  }

  .marker-labels {
    text-transform: uppercase;
    font-weight: 700;
    color: #007a87;
  }
}

.slidebox {
  background-color: #509fa0;
  .slider {
    height: 100vh;
  }

  .bar {
    background: transparent;
    border: none;
  }

  .headingSlideBox {
    position: absolute;
    bottom: 50px;
    padding-right: 5px;
    padding-left: 5px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }

  h3 {
    color: #ffffff;
  }

  .slider-pager .slider-pager-page {
    color: #fcb415;
  }

  .button.button-positive.button-clear {
    color: white;
  }

  .slider-slide {
    height: 100vh;
  }

  .slide1 {
    background: #007a87;
  }

  .slide2 {
    background: #ff5a5f;
  }

  .buttonEnd {
    font-weight: 600;
    width: 200px;
    height: 30px;
    border: none;
    background: #fcb415;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 0.9em;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
    text-align: center;
    position: relative;
    bottom: -60vh;
  }
  .ImgSlidebox {
    width: 72vw;
    top: 65px;
    margin-left: 13%;
    position: absolute;
  }


}



.popCall {

  border-radius:2px;
  text-align: center;
  background: -webkit-linear-gradient(top, rgba(39, 39, 39, 0.7) 0%, rgba(61, 61, 61, 0.7) 100%);
  .button-vip {
    font-weight: 600;
    width: 200px;
    height: 30px;
    border: none;
    background: #fcb415;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 0.9em;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
  }

  .button.green {
    border: 2px solid #fcb415;

  }
  .button.red {
    border: 2px solid red;

  }
  .button.purple {
    border: 2px solid purple;

  }

  .button {
    color: white;
    margin-top: 10px;
    background: transparent;
    border-radius: 4px;
    border: solid 1px red;
    width: 100%;
  }

  .scroll-content {
    padding: 20px;
  }
}

.cfg {
  background: #ffffff;
  .cfgText {
    padding: 10px 8px 10px 8px;
    text-align: justify;
  }
}

.snap {

  .videoCapture {
    border:none;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    position: fixed;
    bottom: 10px;
    right: 40vw;
    color: #1d1742;
    background:  #fcb415;
  }

  .scroll-content{
    background: linear-gradient(rgba(00, 00, 00, 0.90), rgba(00, 00, 00, 0.90)), url(../img/menu/sidemenu.png)  no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

  .buttonEvent {
    float: right;
    color: #ff5a5f;
    font-size: 16px;
  }

  .imgPlace {
    position: absolute;
    right: 105px;
    height: 20px;
  }

  .footerbar {
    position: fixed;
    bottom: 0;
    height: 80px;
    background: rgba(255, 255, 255, 0.42);
    width: 100%;
  }

  .creater {
    color: white;
    background: white;
    padding-top: 15px;
    padding-left: 8px;
    padding-right: 8px;
    height: 50px;
  }
  .videoPlayer {
    background-color: #ffffff;
    width: 100vw;
    height: 400px;
    object-fit: fill;
  }
   .mute {
    position: relative;
    height: 400px;
    width: 100vw;
    font-size: 22px;
    z-index: 100000;
    margin-top: -400px;
    color: #ffffff;
    background: transparent;
    padding-left: 10px;
    padding-top: 360px;
  }

  .hub {
    padding-left: 8px;
    font-size: 20px;
    padding-top: 5px;
    margin-top: -5px;
    background: #1d1742;
    height: 40px;
    i {
      color: black;
      margin-left: 6px;
    }
  }

  .description {
    width: 100%;
    color: white;
    display: inline-block;
    background: #1d1742;
    padding-left: 8px;
    padding-top: 10px;
    padding-right: 8px;
    padding-bottom: 8px;
    .author {
      text-transform: capitalize;
      font-weight: 600;
      color: #ff5a5f;
      margin-right: 25px;
    }
  }
  .comments {
    min-height: 40px;
    border-bottom: inset 3px black;
    background: #1d1742;
    margin-top: -10px;
    .comment {
      margin-bottom: 4px;
      color: white;
      margin-left: 7px;
      .author {
        text-transform: capitalize;
        font-weight: 600;
        color: #ff5a5f;
        margin-right: 25px;
      }
    }
    .link {
      margin-top: 8px;
      text-align: center;
    }
  }
}


.notification {
  .bar.bar-positive {
    border-color: #007a87;
    background-color: #007a87;
    background-image: linear-gradient(0deg, #007a87, #007a87 50%, transparent 50%);
  }

  .noNotification{
    margin-top: 8%;
    text-align: center;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.55);
  }

  .scroll-content{
    background: linear-gradient(rgba(00, 00, 00, 0.70), rgba(00, 00, 00, 0.70)), url(../img/menu/sidemenu.png)  no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

  .notificationHub {
    text-align: center;
    padding: 20px 20px 50px;
    h4 {
      color: white;
      margin-bottom: 10px;
    }

    .logoNotif {
      position: absolute;
      text-align: left;
      width: 50px;
      height: 50px;
      img {
        width: 22px;
        height: 22px;
      }
    }
    .notifBox {
      padding: 2px 60px 5px 5px;
      color: white;
      text-align: left;
      overflow: hidden;
      background-color: transparent;
      min-height: 50px;
      width: 100%;
    }
    .notifDate {
      color:#fcb415;
      font-size: 12px;
      text-align: left;
    }
    .titleNotif {
      font-size: 14px;
    }

    .indicatorText {
      margin-right: 4px;
      color:#fcb415;
    }
  }
}


.getNotif {
  .title {
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 45px;
  }

  .text {
    line-height: 12px;
    position: absolute;
    top: 25px;
    left: 45px;
    width: 80vw;
  }
    padding: 6px;
    color: white;
    position: fixed;
    font-size: 14px;
    display: block;
    z-index: 10000;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(41, 41, 41, 0.90);
    text-align: left;
    line-height: 2.5;
    overflow: hidden;

  .notifImg {
    height: 26px;
    width: 26px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 5px;
    border-radius: 5px;
  }
}

.getNotif.ng-hide-add, .getNotif.ng-hide-remove {
  transition: all linear 0.2s;
}

.getNotif.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}


.snapDescription {

  select {
    color: #ff5a5f;
    height: 50px;
    border: none;
    border-radius: inherit;
    width: inherit;
    background: whitesmoke;
    padding: 0;
    margin-bottom: 10px;
    float:right;
  }

  .going {
    text-transform: uppercase;
    margin-top: 50px;
    margin-right: 23px;
    height: 50px;
    font-weight: 600;
    width: 30vw;
    border: none;
    background: #fcb415;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 0.9em;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
  }

  .booked {
    margin-top: 50px;
    margin-left: 23px;
    height: 50px;
    width: 30vw;
    border: none;
    background: #ff5a5f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 0.9em;
    padding: 5px 7px 5px 7px;
    text-decoration: none;
  }

  .textarea {
   color: #ff5a5f;
  }

  .text {
    margin-top: 25%;
    text-align: center;
    font-size: 24px;
    color: #fcb415;
  }
  .scroll-content{
     background: #1d1742;
     background-size: cover;
     -o-background-size: cover;
     -webkit-background-size: cover;
   }
}

.snapComment {
  .description {
    width: 100%;
    min-height: 40px;
    margin-top: 45px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    color: white;
  }

  .buttonEvent {
    height: 60px;
    margin-top: 15px;
    margin-right: 10px;
    float: right;
    color: #ff5a5f;
    font-size: 16px;
  }

  .markred {
    margin-left: 30px;
    height: 35px;
    display: block;
  }

  .author {
    font-weight: 700;
    color: #ff5a5f;
    margin-right: 25px;
  }

  .comments {
    width: 100%;
    padding-left: 10px;
    .comment {
      min-height: 40px;
      padding-bottom: 5px;
      padding-right: 5px;
      color: white;
    }
  }

  .button {
    width: 50px;
    background: #007a87;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 10px;
    color: #fcb415;
  }

  .bar.bar-footer {
    background: rgba(252, 180, 21, 0.55);
  }

  .scroll-content{
    background: linear-gradient(rgba(00, 00, 00, 0.70), rgba(00, 00, 00, 0.70)), url(../img/menu/sidemenu.png)  no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }
}

.prezSnap {
  color: white;
  .scroll-content{
    background: linear-gradient(rgba(00, 00, 00, 0.40), rgba(00, 00, 00, 0.40)), url(../img/fondsnap.png)  no-repeat;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

  .imgOwl{
    width: 60px;
  }

  .text {
    text-align: center;
    font-size: 16px;
    padding: 20px;
    margin-top: 40px;
    line-height: 40px;
  }

  .buttonConnexion1 {
    height: 60px;
    width: 65%;
    font-weight: 700;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    border: none;
    background: #ff5a5f;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
    font-size: 20px;
    padding: 14px 40px 14px 40px;
    text-decoration: none;
  }

}

.infoCpt {
  .item{
    background-color: transparent;

  }

  .text {
    margin-top: 90px;
    margin-bottom: 80px;
    color: white;
    font-size: 16px;
  }

  input {
    color: white;
    background: transparent;
    border-bottom: inset 1px grey;
  }


  .scroll-content {
    background: #1d1742;
    background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
  }

    .buttonConnexion1 {
      text-transform: uppercase;
      height: 80px;
      width: 60%;
      font-weight: 700;
      display: inline-block;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 70px;
      border: none;
      background: #fcb415;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      color: #ffffff;
      font-size: 20px;
      padding: 14px 40px 14px 40px;
      text-decoration: none;
    }

  input::-webkit-input-placeholder {
    color: #808080 !important;
  }

}

.button.followBtn {
  padding-left: 18px;
  min-width: 74px;
  color:#3e8da9;
  font-size: 12px;
  margin-top: 10px;
  background: transparent;
  border-radius: 4px;
  border: 2px solid #3e8da9;
  i {
    margin-left: 3px;
  }
}
.button.followBtn.active {
  padding-left: 3px;
  padding-right: 3px;
  background: rgba(62, 141, 169, 0.3);
  i {
    margin-left: 3px;
  }
}

.organiser {
  .item-input-inset {
    padding: 0;

    input {
      height: 45px;
      padding-left: 20px;
    }
  }

  .scroll-content{

    .item {

    }

    .name {
      font-weight: 700;
      color: #3e8da9;
    }

    .typeGenre {
      font-size: 12px;
      color: black;
    }
  }
}

.organiserInfo {

  .button.followBtn {
    min-height: 30px;
    line-height: 10px;
  }

  .textOrga {
    padding: 12px;
  }

  .background {
    background: #fedc32;
    padding-bottom: 20px;
  }

  .bigCircle {
    margin-top: 35px;
    vertical-align:middle;
    border-radius: 100px;
    width: 100px;
    height: 100px;
  }
}




a.tab-item {
  padding-top: 5px;
}

.tabs-striped .tab-item.tab-item-active {
  border-bottom:2px solid white;
}

.tabs-striped .tab-item.tab-item-active {
  border-bottom:2px solid white;
}

.tabs-yellow > .tabs {
  color: white;
  border-bottom: 1px #fedc32 solid;
  background-color: #fedc32;
}

.tabs-red > .tabs {
  color: white;
  border-bottom: 1px #ff5a5f solid;
  background-color: #ff5a5f;
}

.tabs-green > .tabs {
  color: white;
  border-bottom: 1px #62B595 solid;
  background-color: #62B595;
}


.tabs-purple > .tabs {
  color: white;
  border-bottom: 1px #626BB5 solid;
  background-color: #626BB5;
}


.bar.bar-yellow {
  color: white;
  background-color: #000000;
}

.bar.bar-red {
  color: white;
  border-bottom: 1px #ff5a5f solid;
  background-color: #ff5a5f;
}

.bar.bar-green {
  color: white;
  border-bottom: 1px #62B595 solid;
  background-color: #62B595;
}


.bar.bar-purple {
  color: white;
  border-bottom: 1px #626BB5 solid;
  background-color: #626BB5;
}


.platform-android .tabs-top > .tabs {
  top: 0;
}

.platform-android .has-tabs-top {
  top: 44px;
}

.platform-android.platform-cordova:not(.fullscreen) .tonight {
  .has-subheader {
    top: 170px !important;
  }
}

  .platform-android.platform-cordova:not(.fullscreen)  .weekend {
    .has-subheader {
      top: 170px !important;
    }
  }

  .platform-android {
    .margin-header {
      margin-top: 0;
    }
  }

  .platform-ios {
    .margin-header {
      margin-top: 66px;
    }
  }

  .red {
    background: #ff5a5f;
    color: white;
  }

