<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>


    <!-- compiled css output -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

    <link href="css/ionic.app.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>


    <!-- ionic/angularjs js -->
    <script src="lib/bluebird.min.js"></script>

    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic.cloud.min.js"></script>


    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
    <script src="lib/lodash/lodash.js"></script>
    <script src="lib/visible/visible.min.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script src="lib/angular-google-maps/dist/angular-google-maps.min.js"></script>
    <script src="lib/angular-reverse-geocode/angular-reverse-geocode.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="lib/angular-google-analytics/dist/angular-google-analytics.js"></script>
    <script src="lib/stacktrace-js/dist/stacktrace.min.js"></script>
    <!--<script src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js"></script>-->

    <!-- your app's js -->
    <script src="lib/ionic-datepicker/dist/ionic-datepicker.bundle.min.js"></script>
    <script src="lib/moment/min/moment.min.js"></script>
    <script src="lib/moment/min/moment-with-locales.min.js"></script>
    <script src="lib/angular-message/angular-messages.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/tools.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/services.js"></script>
    <script src="js/filters.js"></script>

  </head>
  <body ng-app="Movment" ng-controller="UserCtrl as userScope">
  <div class="getNotif" ng-click="goNotif(notif)" ng-show="hasNotif"><img class="notifImg" src="img/favicon-32x32.png"/><span class="title">Movment</span><div class="text">{{ notif.message }}</div></div> </div>
  <div ng-show="userScope.ios && !userScope.hide" class="bar bar-header {{ userScope.getTab() }}">
    <button ng-click="userScope.goBack()" ng-show="userScope.backButton" style="color: white; background: transparent" class="button icon ion-ios-arrow-left"></button>
    <h1 style="color:white; font-weight: 500;" class="title">{{ userScope.title }}</h1>
  </div>
  <ion-nav-view>
  </ion-nav-view>
  </body>
</html>
